body {

}

img {
    border: 0px solid !important;
}

fieldset .editor-label {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 13px;
}

fieldset .editor-field {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

fieldset .editor-field-file {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 65px;
}

fieldset input[type=text]{    
    width: 250px;
}

fieldset input[type=submit]{    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 100px;
}

.main-content b {
    font-size: 13px;
    color: rgb(100,100,100);
}

.main-content p {
    margin-top: 10px;
}

.form .label {
    width: 100px !important;
    margin: 10px 10px 0px 10px;
    font-size: 12px;
}

.form .field {
    width: 200px !important;
    margin: 10px 10px 10px 10px;
    font-size: 12px;
    float:left;
}

.form input {
    float: left;
}